body {
    background-image: url();
    background-color: rgb(1, 10, 19);
    background: linear-gradient(200deg, rgb(1, 10, 19), rgb(2, 49, 69));
    position: center;
    
}

.header {
    background-image: url(img/Sheader.png);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.logo {
    position: center;
    padding: 5px 5px 5px 5px;
    width: 7%;
    height: 55%
}

h1 {
    font-family: lolFont;
    color: rgb(227, 186, 61);
    font-size: 250%;
}

@font-face {
    font-family: lolFont;
    src: url("img/Friz Quadrata Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    margin: center;
    display: flex;
    width: 100%;
    font-family: lolFont;
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
}

#buscador{
    font-family: lolFont;
    color: rgb(227, 186, 61);
    background-color: rgb(2, 7, 13);
    font-size: 100%;
    border: 3px solid #555;
    transition: width 0.4s ease-in-out;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav>input {
    margin: 5px;
    padding: 3px 12px;
    font-family: lolFont;
    float: left;
}

.nav li a {
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: rgb(1, 29, 43);
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.tarjeta {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 15px;
    padding: 0px;
    border: 3px solid rgb(227, 186, 61);
    display: inline-block;
    border-radius: 10px;
}

.tarjeta h5 {
    color: rgb(227, 186, 61);
    font-family: lolFont;
}

.padre {
    background-image: url();
    width: 70%;
    height: auto;
    text-align: center;
    margin: center;
    opacity: 1;
}

.tarjeta img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.abuelo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#seccion {
    border: 3px solid rgb(227, 186, 61);
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    
}

#foto {
    width: 100%;
    height: auto;
    position:relative;
}

#principal {

    width: 30%;
    height: 137%;
    margin-top: 145px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: -5px;
    /*float: left;*/
    background: linear-gradient(200deg, #000107, #eb0fd800);
    z-index: 1;
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name1 {
    text-align: center;
    align-content: center;
    color: rgb(227, 186, 61);
    font-family: lolFont;
    font-size: 400%;
    font-weight: bolder;
    
}

#grafica {
    text-align: center;
    
}

#title1 {
    text-align: center;
    align-content: center;
    /*background-color: rgb(61, 64, 227);*/
    color: rgb(227, 186, 61);
    font-family: lolFont;
    font-size: 200%;
    font-weight: bold;
}

#blurb1 {
    text-align: center;
    align-content: center;
    /*background-color: rgb(227, 61, 199);*/
    color: rgb(227, 186, 61);
    font-family: lolFont;
    font-size: 100%;
    font-weight: bold;
}

.texto-encima {
    position: absolute;
    top: 7px;
    left: 10px;
}
