*{
margin: 0px ;
padding: 0px;
box-sizing: border-box;

}

@font-face {
    font-family: lolFont;
    src: url("img/Friz Quadrata Regular.ttf");
}

body {
    background-image: url();
    background-color: rgb(1, 10, 19);
    background: linear-gradient(200deg, rgb(1, 10, 19), rgb(2, 49, 69));
    position: center;
}

.father1{
display: flex;
flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(img/Sheader.png);
    height: 150px
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 150px;
}

.logo1 {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100px;
}
.title{
    flex: 8 1 auto;
    flex-flow: row nowrap;
    align-items: center;
    font-family: lolFont;
    color: rgb(227, 186, 61);
    height: 100px;
    font-size: 130%;

}
.logo1 img{
    height: 100%
}

.title h1{
    margin-top: 20px;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    font-family: lolFont;
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
}

#buscador {
    font-family: lolFont;
    color: rgb(227, 186, 61);
    background-color: rgb(2, 7, 13);
    font-size: 100%;
    border: 3px solid #555;
    transition: width 0.4s ease-in-out;
}

#nav{
    display: flex;
    flex-flow: row nowrap;
}
ul,ol {
    flex: 1 1 auto;
    list-style: none;
}

.nav>li {
    flex: 1 1 auto;
    float: left;
}

.nav>input {
    flex: 1 1 auto;
    margin: 5px;
    padding: 3px 12px;
    font-family: lolFont;
    float: left;
}

.nav li a {
    flex: 1 1 auto;
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: rgb(1, 29, 43);
}

.nav li ul {
    flex: 1 1 auto;
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.tarjeta {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 15px;
    padding: 0px;
    border: 3px solid rgb(227, 186, 61);
    display: inline-block;
    border-radius: 10px;
}

.tarjeta h5 {
    color: rgb(227, 186, 61);
    font-family: lolFont;
}
.abuelo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.padre {
    background-image: url();
    width: 70%;
    height: auto;
    text-align: center;
    margin: center;
    opacity: 1;
}

.tarjeta img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}


a {
    text-decoration: none;
}

#seccion {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid rgb(227, 186, 61);
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}

#foto {
    display: flex;  
    width: 100%;
    height: auto;
    position: relative;
}

#principal {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    height: 125%;
    margin-top: 145px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: -5px;
    background: linear-gradient(200deg, #000107, #eb0fd800);
    z-index: 1;
    order: 4;
}

#name1 {
    text-align: center ;
    align-content: center;
    margin-top: 1.3em;
    color: rgb(227, 186, 61);
    font-family: lolFont;
    font-size: 400%;
    font-weight: bolder;
}

#title1 {
    margin-top: 1.3em;
    text-align: center;
    align-content: center;
    color: rgb(227, 186, 61);
    font-family: lolFont;
    font-size: 200%;
    font-weight: bold;
}

#blurb1 {
    margin-top: 1em;
    text-align: center;
    align-content: center;
    color: #e3ba3d;
    font-family: lolFont;
    font-size: 120%;
    font-weight: bold;
}

#info1 {
    margin-top: 1.2em;
    text-align: center;
    color: rgb(227, 186, 61);
    font-family: lolFont;
}

.texto-encima {
    position: absolute;
    top: 7px;
    left: 10px;
}

.back {
    visibility: hidden;
    width: 7%;
    height: 55%;
    filter: invert(78%) sepia(61%) saturate(574%) hue-rotate(348deg) brightness(99%) contrast(80%);
}

#buttonliga {
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 568px) {
    .title{
        flex: 8 1 auto;
        flex-flow: row nowrap;
        align-items: center;
        font-family: lolFont;
        color: rgb(227, 186, 61);
        height: 100px;
        font-size: 70%;
    
    }
    .logo1 img{
        height: 80%
    }

    .header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-image: url(img/Sheader.png);
        height: 100px
    }
    .menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100px;
    }
    #buscador {
        flex: 1 1 auto;
        font-family: lolFont;
        color: rgb(227, 186, 61);
        background-color: rgb(2, 7, 13);
        font-size: 70%;
        width: 15%;
        border: 1px solid #555;
        transition: width 0.4s ease-in-out;
    }

ul,ol {
    
    list-style: none;
    font-size: 80%;
}

.nav>li {

    float: left;
    font-size: 80%;
}

.nav>input {

    margin: 5px;
    padding: 3px 6px;
    font-family: lolFont;
    float: left;
    font-size: 80%;
}

.nav li a {
   
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
    text-decoration: none;
    padding: 5px 6px;
    display: block;
    font-size: 80%;
}

.nav li ul {
    
    display: none;
    position: absolute;
    min-width: 70px;
    font-size: 80%;
}

.nav li:hover>ul {
    display: block;
    font-size: 80%;
}

.nav li ul li {
    position: relative;
    font-size: 80%;
}

.nav li ul li ul {
    right: -70px;
    top: 0px;
    font-size: 80%;
}
#buttonliga {
    background-color: rgb(2, 7, 13);
    color: rgb(227, 186, 61);
    text-decoration: none;
    padding: 5px 6px;
    display: block;
    text-decoration: none;
    font-size: 70%;
}
    #seccion {
        display: flex;
        flex-flow:column nowrap;
        align-items: center;
        text-align: center;
        border: 3px solid rgb(227, 186, 61);
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    #foto {
        width: 100%;
        height: 100%;
    }
    #principal {
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        text-align: center;
        margin-left:7%;
        width:80%;
        height: 50%;
        margin-top: 90%;
        background: linear-gradient(200deg, #000107, #eb0fd800);
    }
       
    #name1 {
        flex: 1 1;
        display: flex; 
        text-align: center ;
        margin-top: 1em;
        color: rgb(227, 186, 61);
        font-family: lolFont;
        font-size: 100%;
        font-weight: bolder;
    }
    #title1 {
        flex: 2 1;
        display: flex;
        text-align: center;
        align-content: center;
        color: rgb(227, 186, 61);
        font-family: lolFont;
        font-size: 100%;
        font-weight: bold;
    }
    
    #blurb1 {
        flex: 3 1;
        display: flex;
        text-align: center;
        align-content: center;
        color: #e3ba3d;
        font-family: lolFont;
        font-size: 70%;
        font-weight: bold;
    }
    #info1 {
        flex: 5 1;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-content: center;
        width: 30%;
        height:10%;
        color: rgb(227, 186, 61);
        font-family: lolFont;
        font-size:50% ;
    }
}
@media (min-width: 800px) and (max-width: 1200px){
    #principal {
        display: flex;
        flex-flow: column nowrap;
        width: 30%;
        height: 55%;
        margin-top: 145px;
        margin-right: 20px;
        margin-bottom: 0;
        margin-left: -5px;
        background: linear-gradient(200deg, #000107, #eb0fd800);
        z-index: 1;
        order: 4;
    }
    
    #name1 {
        text-align: center ;
        align-content: center;
        margin-top: 1em;
        color: rgb(227, 186, 61);
        font-family: lolFont;
        font-size: 250%;
        font-weight: bolder;
    }
    
    #title1 {
        margin-top: 1em;
        text-align: center;
        align-content: center;
        color: rgb(227, 186, 61);
        font-family: lolFont;
        font-size: 150%;
        font-weight: bold;
    }
    
    #blurb1 {
        margin-top: 1em;
        text-align: center;
        align-content: center;
        color: #e3ba3d;
        font-family: lolFont;
        font-size: 80%;
        font-weight: bold;
    }
    
    #info1 {
        font-size: 60%;
        margin-top: 1.2em;
        text-align: center;
        color: rgb(227, 186, 61);
        font-family: lolFont;
    }
    
}